<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2026. Aiwazian.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <!--
          ~ Полностью гасит сбор Firebase Analytics в debug-сборках, включая
          ~ автоматические события (first_open, session_start, user_engagement),
          ~ чтобы тестовые запуски не попадали в отчёты.
          -->
        <meta-data
            android:name="firebase_analytics_collection_deactivated"
            android:value="true" />
    </application>
</manifest>
